:root {
  --brand-color: #2e2f42;
  --contacts-color: #434455;
  --footer-color: #f4f4fd;
  --buttons-color: #4d5ae5;
  --paragrah-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--text-font-family);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.logo-web {
  color: var(--buttons-color);
}

.logo {
  color: var(--brand-color);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}


.header-list {
  color:var(--contacts-color);
  font-family: Roboto;
  font-size: 16px
  line-height: 1.5; 
  letter-spacing: 0.32px;
  text-decoration: none;
  list-style-type: none;
}

.header-contacts{
    color:var(--contacts-color);
    font-family: Roboto;
font-size: 16px;
font-style: normal;
line-height: 1.5;
letter-spacing: 0.32px;
}

.footer {
  color: var(--footer-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.title{
    color:#FFF;
text-align: center;
font-family: Roboto;
font-size: 56px;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 1.12px;
background-color:#2E2F42 ;
}

.button-title{
  color: #FFF;
  cursor: pointer;
border-radius: 4px;
background: var(--buttons-color);
box-shadow: 0px 4px 4px 0px 
}

.button-title:hover{ background-color: #404BBF ;}


.subtitles{
    color: var(--brand-color);
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.4px;
}

.subtitles-text{
    color: var(--contacts-color);
font-family: Roboto;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.32px;
}

.chapters{
    color: var(--brand-color);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.72px;
text-transform: capitalize;
}

.name-teamcard{
    color: var(--brand-color);
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.name-teamcard-centered {
  text-align: center;
}
.positions-teamcard {
  color: var(--contacts-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.portofolio-buttons {
  color: var(--buttons-color);
  cursor: pointer;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
}

.portofolio-buttons:hover {
  color: #fff;
  background-color: #404bbf;
}
